<section class="books-page">
  <h3>Search for books</h3>

  <form action="/books" method="GET" class="form-container">
    <label for="subject">Subject</label>
    <select id="subject" name="subject">
      <option value="">-- All subjects --</option>
  <% subjects.forEach(subject => { %>
    <option value="<%= subject %>"
      <% if (query.subject === subject) { %>
        selected
      <% } %>
    >
      <%= subject %>
    </option>
  <% }) %>
</select>

    <label for="author">Author</label>
    <input id="author" type="text" name="author" />

    <label for="title">Title</label>
    <input id="title" type="text" name="title" />

    <button type="submit" class="btn">Search</button>
  </form>
</section>
