<section class="books-page">

  <header class="books-header">
    <h2>Our Books</h2>
    <p>Welcome back, <strong><%= user.fname %></strong>!</p>
  </header>

  <form>
  <label>Subject</label>
  <select>
    <option>Humour</option>
    <option>Sport</option>
  </select>

  <label>Author</label>
  <input type="text">

  <label>Title</label>
  <input type="text">

  <button>Search</button>
</form>

</section>

